[Desktop Entry]
Name=Neovim (Ghostty)
Comment=Edit text files
Exec=ghostty -e nvim %f
Terminal=false
Type=Application
Icon=nvim
Categories=Utility;TextEditor;Development;
MimeType=text/plain;
